<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>


<div class="container mx-auto my-5">
  <div class="flex mb-4">
    <div class="w-full bg-white h-screen">
      <div>
        <p class="font-medium"><%= @question.created_at.to_date %></p>
        <p class="font-black text-5xl"><%= @question.title %></p>
      </div>
    </div>
  </div>
</div>

