<div class="container flex justify-center">
  <ul>
    <% commentable.comments.each do |comment| %>
      <li class="comments-li my-6">
        <div>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.avatar, class: 'block lg:inline-block h-12 w-12 rounded-full mx-auto object-cover'%>
          <% end %>
          <div class="text-base inline-block ml-2">
            <p><%= comment.content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

