// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Style choose file button
.upload-btn-wrapper {
 position: relative;
 overflow: hidden;
 display: inline-block;
}

.upload-btn-wrapper input[type=file] {
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
}
