<footer class="flex items-center justify-between flex-wrap bg-teal-500 p-6 mt-3" style="position: relative;bottom: 0;width: 100%;">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to root_path do %>
      <span class="font-semibold text-xl tracking-tight">🎨 ArtsySpace</span>
    <% end %>
  </div>
</footer>

